*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

form label, input {
    display: block;
    padding: 10px 0;
}

.form-section {
    overflow: hidden;
}

.form-section {
    width: 500px;
    margin: auto;
    background: #000;
    color: white;
    padding: 40px;
    border-radius: 25px;
    margin-top: 50px;
}

form label, input {
    display: block;
    padding: 10px 0;
    font-size: 20px;
}

form input {
    width: 96%;
    height: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 20px;
    margin-bottom: 10px;
}

textarea#massage {
    width: 98%;
    height: 195px;
    border-radius: 15px;
    resize: none;
    outline: none;
    border: none;
    font-size: 17px;
    padding-left: 5px;
    padding: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 0px;
    margin-top: 15px;
    height: 40px;
    background: #3498db;
    color: #fff;
    font-size: 20px;
    
}

input[type="submit"]:hover {
    cursor: pointer;
}

